{% extends 'WebBundle::layout.html.twig' %}

{% block title %} Perfil de {{ profile.fantasyName }} {% endblock %}

{% block container %}
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ profile.name }}</h3>
                    </div>
                    <div class="panel-body" id="profileInformation">
                        <img src="{{ profile.photo }}" alt="{{ profile.name }}" class="img-rounded">
                        <p>
                            <strong>Nome Completo:</strong> {{ profile.name }}
                        <br />
                            <strong>Nome Parlamentar:</strong> {{ profile.fantasyName }}
                        <br />
                            <strong>Partido:</strong> {{ profile.filiation }}
                        <br />
                            <strong>Estado:</strong> {{ profile.state }}
                        <br />
                            <strong>Telefone:</strong> +55 (61) {{ profile.phone }}
                        <br />
                            <strong>Email:</strong> <a href="mailto:{{ profile.email }}">{{ profile.email }}</a>
                        <br />
                            <strong>Votos:</strong>
                            {% if profile.votes >0 %}
                                <span class="green">+{{ profile.votes|number_format }}</span>
                            {% else %}
                                <span class="red">{{ profile.votes|number_format }}</span>
                            {% endif %}</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Vote e comente!</h3>
                    </div>

                {% if is_facebook_logged() %}
                    <div class="row">
                        <div class="col-md-12">
                            <form id="voteForm" action="{{ path('vote', {'slug': profile.slug}) }}" method="post">
                                <input type="hidden" id="optionVote" name="option" />
                                <textarea name="comment" class="form-control" rows="3" id="commentFields" placeholder="Deixe o seu comentário sobre este político."></textarea>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-success col-md-12" id="btnVoteLike">
                                <span class="glyphicon glyphicon-thumbs-up btnVote"></span>
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-danger col-md-12" id="btnVoteDislike">
                                <span class="glyphicon glyphicon-thumbs-down btnVote"></span>
                            </button>
                        </div>


                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger">
                                Para votar e comentar é necessário estar logado.
                                <br>
                                {{ facebook_login_button({
                                    'autologoutlink': false,
                                    'size': 'medium',
                                    label: 'Logar com o Facebook'

                                    })
                                }}
                            </div>

                            
                        </div>
                    </div>

                {% endif %}
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#commissions" data-toggle="tab">Comissões</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="comissions">
                        <p>
                            <ul>
                               {% for committee in profile.committees %}
                                    <li><strong>{{ committee.initials }}: </strong>{{  committee.description }}</li>
                               {% endfor %}
                            </ul>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" id="comments">

            <div class="col-md-12">

                <div class="panel panel-primary">
                    <!--div class="panel-heading">
                        <h3 class="panel-title">Jucicleide da Silva</h3>
                    </div-->
                    {% for comment in profile.getComments() %}
                    <div class="panel-body">
                        <img class="media-object" src="https://graph.facebook.com/{{ comment.facebookId }}/picture" alt="...">
                        <p>
                           <strong>{%  if not comment.facebookName %} Anônimo {% else %} {{ comment.facebookName }} {% endif %}</strong> <br />
                           {{ comment.comment }}
                        </p>
                    </div>
                    {% endfor %}
                </div>

                <!--button type="button" class="btn btn-primary col-md-12">Carregar mais.</button-->
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $("#btnVoteLike").on("click", function(event) {
            event.preventDefault();

            $("#optionVote").val("1");
            $("#voteForm").submit();
        });

        $("#btnVoteDislike").on("click", function(event) {
            event.preventDefault();

            if ( $("#commentFields").val().length < 1 ) {
                alert("É obrigatório dizer porque não gosta deste político.");
                return false;
            }

            $("#optionVote").val("0");
            $("#voteForm").submit();
        });
    </script>
{% endblock %}
